<div class="container">
  <h1>{{ title }}</h1>
  <div *ngIf="currencies.length > 0" class="column">
    <div class="row">
      <div [formGroup]="formGroup" class="column form">
        <div class="row">
          <div class="column">
            <select formControlName="fromCurrencyCode" >
              <option [value]="defaultCurrencies.PLN">
                {{ defaultCurrencies.PLN }}
              </option>
              <option
                *ngFor="let currency of currencies"
                [value]="currency.code"
              >
                {{ currency.code }}
              </option>
            </select>
            <input
              formControlName="fromAmount"
              type="number"
              (focus)="onFocusFromAmountField()"
              (blur)="isEditingFromAmount = false"
            />
          </div>
          <div class="column">
            <select formControlName="toCurrencyCode">
              <option [value]="defaultCurrencies.PLN">
                {{ defaultCurrencies.PLN }}
              </option>
              <option
                *ngFor="let currency of currencies"
                [value]="currency.code"
              >
                {{ currency.code }}
              </option>
            </select>
            <input
              formControlName="toAmount"
              type="number"
              (focus)="onFocusToAmountField()"
              (blur)="isEditingToAmount = false"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <app-currency-chart
          *ngIf="!refreshingChart"
          [labels]="dateLabel"
          [data]="exchangeRates"
        ></app-currency-chart>
      </div>
    </div>
  </div>
</div>
