.container {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  max-width: 500px;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.form {
  padding-bottom: 20px;
}

select, input {
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

select {
  height: 30px;
  max-width: 100px;
  margin-right: 10px;
}

input {
  height: 24px;
  max-width: 100px;
}
